*{
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

html, body{
    margin:0;
    padding:0;
    height:100%;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    background:#000;
    padding-bottom:70px;

}

.background{
    position:fixed;
    width:100%;
    height:100%;
    background:url("assets/background.webp") center/cover no-repeat;
    z-index:-1;
}

.glass-card{
    width:380px;
    padding: 25px;
    border-radius:22px;
    background:rgba(0,0,0,0.55);
    backdrop-filter:blur(18px);
    border:1px solid rgba(0,255,150,0.3);
    box-shadow:0 10px 40px rgba(0,0,0,0.6);
}

.logo{
    width:200px;
    display:block;
    margin:0 auto -40px;
}

/* Join us */
.join-text{
    text-align:center;
    font-family:'Anton', sans-serif;
    font-size:50px;
    color:#00ff99;
    margin-bottom:10px;
    letter-spacing:1px;
}

input, textarea{
    width:100%;
    padding:14px;
    margin-bottom:18px;
    border-radius:40px;
    border:1px solid rgba(0,255,150,0.4);
    background:rgba(0,255,150,0.18);
    color:white;
    outline:none;
    transition:0.3s;
}

textarea{
    border-radius:20px;
}

input::placeholder, textarea::placeholder{
    color:rgba(255,255,255,0.7);
}

input:hover, textarea:hover{
    background:rgba(0,255,150,0.28);
    box-shadow:0 0 15px rgba(0,255,150,0.6);
}

/* ===== Custom Select ===== */

.custom-select{
    position:relative;
    margin-bottom:18px;
}

.select-box{
    padding:14px;
    border-radius:40px;
    border:1px solid rgba(0,255,150,0.4);
    background:rgba(0,255,150,0.18);
    color:white;
    cursor:pointer;
}

.options{
    position:absolute;
    top:100%;
    left:0;
    width:100%;
    background:rgba(0,0,0,0.75);
    backdrop-filter:blur(12px);
    border:1px solid rgba(0,255,150,0.4);
    border-top:none;
    border-radius:0 0 30px 30px;
    overflow:hidden;
    display:none;
    z-index:10;
}

.options div{
    padding:14px;
    color:#00ff99;
    cursor:pointer;
}

.options div:hover{
    background:rgba(0,255,150,0.25);
}

/* ========================== */

/* check your email soon */
.email-note{
    text-align:center;
    font-family:'Anton', sans-serif;
    font-size:18px;
    color:#00ff99;
    margin-bottom:15px;
    letter-spacing:0.5px;
}

button{
    width:100%;
    height:48px;
    border:none;
    border-radius:40px;
    background:linear-gradient(45deg,#00c853,#00ff99);
    color:white;
    font-size:16px;
    cursor:pointer;
    position:relative;
    overflow:hidden;
}

.loader{
    display:none;
    width:22px;
    height:22px;
    border:3px solid white;
    border-top:3px solid transparent;
    border-radius:50%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    animation:spin 1s linear infinite;
}

@keyframes spin{
    to{transform:translate(-50%,-50%) rotate(360deg);}
}

.success-message{
    display:none;
    margin-top:15px;
    padding:10px;
    text-align:center;
    border-radius:15px;
    background:rgba(0,255,150,0.25);
    color:#00ff99;
    font-weight:600;
}

.eco-footer{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:40px;
    background:#063d1e;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 40px;
    color:white;
    font-weight:500;
}

.footer-right a{
    color:white;
    margin-left:20px;
    font-size:20px;
    transition:0.3s;
}

.footer-right a:hover{
    color:#00ff99;
    transform:scale(1.2);
}

@media (max-width: 600px) {
    .glass-card{
        width:80%;
        padding:20px;
        border-radius:30px;
    }

    .eco-footer{
        height:auto;
        padding:8px 15px;
        flex-direction:column;
        gap:10px;
    }

}

